.AddTodo {
    display: flex;
    flex-direction: row;
    width: 400px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.AddTodo > *, button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 20px;
}

button:focus {
    outline: 1px solid rgba(255, 255, 255, 0.1);
}

input {
    border: none;
    width: 80%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.2);
}
