.AddTodo {
    display: flex;
    flex-direction: row;
    width: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}

.AddTodo > *, button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px 20px;
}

button:focus {
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

input {
    border: none;
    width: 80%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.5);
}
