.footer-a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 20px;
    gap: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.65);
    width: 100%;
    padding: 10px 0 15px 0;
}