* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#root {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

button {
    border: none;
    width: 20%;
    transition: all 0.1s ease-in-out;
}

.active {
    background-color: rgba(23, 23, 23, 0.475) !important;
}

button:hover {
    background-color: rgba(23, 23, 23, 0.332);
}
